

/** Transition elements **/
.transition-color{
  transition: color 0.3s ease;
}

.transition-opacity{
  transition: opacity 0.5s ease;
}

.transition-shadow{
  transition: box-shadow 0.3s ease;
}



/** Transform elements **/
.transform-scale:hover{
  @extend .transition-zoom-in;
  transform: scale(1.1);
}

.transform-opacity:hover{
  opacity: 0.7;
}

.overflow-hidden{
  overflow: hidden;
}