@import "tailwindcss/preflight.css";


/** Font definition **/
$font-playfair: Playfair Display, sans-serif;
$font-inter: Inter, sans;

/** Color definition**/
$color-black-88: #1F1F1F;
$color-gray-dark: #353535;
$color-gray: #959595;
$color-gray-light: #F2F2F2;
$color-gray-lighter: #DDDDDD;
$color-white: #FFFFFF;
$color-white-broken: #F6F6F6;

/** Sizes definition **/
$size-max-width: 930px;

/** Font sizes **/
$font-size-h1: 72px;
$font-size-h2: 36px;
$font-size-h3: 42px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 15px;
$font-size-paragraph: 16px;
$font-size-line: 14px;
$font-size-caption: 14px;


/** Line heights **/
$line-height-small: 55px;
$line-height-normal: 100%;
$line-height-large: 130%;
$line-height-xl: 170%;

/** Global CSS definition **/
html, body{
  font-family: $font-inter;
  height: 100%;
  width: 100%
}

.style-app-body{
  width: 100%;
  height: 100%;
}


.style-bold{
  font-weight: 700;
}

.style-italic{
  font-style: italic;
}

.style-black{
  color: $color-black-88 !important;
}

.style-white{
  color: $color-white !important;
}

.style-gray{
  color: $color-gray !important;
}

/** Text styling **/
.text-base{
  color: $color-black-88;
  font-style: normal;
  letter-spacing: 0;
}


/** Header and text tags **/
.text-h1{
  @extend .text-base;
  font-family: $font-playfair;
  font-size: $font-size-h1;
  line-height: $line-height-normal;
}



.text-h2{
  @extend .text-base;
  font-family: $font-playfair;
  font-size: $font-size-h2;
  line-height: $line-height-small;
}

.text-h2-italic{
  @extend .text-h2;
  font-style: italic;
  line-height: $line-height-normal;
}

.text-h3{
  font-family: $font-playfair;
  font-size: $font-size-h3;
  line-height: $line-height-small;
}

.text-h4{
  font-family: $font-inter;
  font-size: $font-size-h4;
  line-height: $line-height-normal;
}

.text-h4-light{
  @extend .text-h4;
  font-weight: 300;
  font-size: $font-size-h4;
}


.text-h5{
  @extend .text-base;
  font-family: $font-inter;
  font-weight: 300;
  font-size: $font-size-h5;
  line-height: $line-height-large;
}


.text-h6{
  @extend .text-base;
  font-family: $font-inter;
  font-weight: bold;
  font-size: $font-size-h6;
  line-height: $line-height-normal;
}


.text-paragraph{
  @extend .text-base;
  font-family: $font-inter;
  font-size: $font-size-paragraph;
  line-height: $line-height-xl;
}

.text-line{
  @extend .text-base;
  font-family: $font-inter;
  font-size: $font-size-line;
  line-height: $line-height-xl;

}

.text-caption{
  @extend .text-base;
  font-family: $font-inter;
  font-size: $font-size-caption;
  line-height: $line-height-xl;
}

.style-gradient-text{
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  background-image: linear-gradient(to right, #161616, rgba(124, 124, 124, 0.7) 70%);
}

.style-uppercase{
  text-transform: uppercase;
}

.style-align-center{
  text-align: center;
}

.style-text-nowrap{
  text-wrap: nowrap;
}