@import 'base.scss';
@import 'layout.scss';
@import 'animation.scss';


/** Navbar Styling **/
.component-navbar-item{
  @extend .transition-color;
  padding: $padding-small;
  font-family: $font-inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: $color-white;
  opacity: 1;
}

.component-navbar-item:hover{
  text-decoration-line: underline;
  text-underline-offset: 2.7px;
}

.component-navbar-item-strong{
  font-weight: 600;
  font-size: 16px;
}

.component-navbar-dark{
    color: $color-black-88 !important;
}

.component-navbar-header{
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;
}

.component-navbar{
  @extend .layout-flex-row;
  height: 50px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 99999px;
  gap: $gap-medium;
  margin: 15px auto 0 auto;
  padding: 0 20px;
}

.component-navbar-item-list{
  @extend .layout-flex-row, .layout-margin-y-auto;
  gap: $gap-small;
}

.component-navbar-logo{
  @extend .layout-margin-y-auto, .transition-color;
  padding: 6px 8px;
  font-family: $font-inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: $color-white;
}

/** Contact Styling **/
.component-contact{
  @extend .layout-flex-col;
  width: 100%;
  padding: $padding-large 0;
  background-color: $color-white;
}

.component-contact-inner{
  @extend .layout-flex-col;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: $gap-large;
}

.component-contact-info{
  @extend .layout-flex-col;
  color: $color-black-88;
  gap: $gap-medium;
  padding: 0 5px;
}

.component-contact-icons{
  @extend .layout-flex-row, .layout-margin-x-auto;
  text-align: center;
  gap: $gap-small;
}

.component-contact-copyright{
  left: 0;
  bottom: 0;
  width: 100%;
}

.component-contact-copyright-inner{
  @extend .style-caption,  .layout-margin-x-auto;
  gap: $padding-small;
  background-color: $color-white-broken;
  color: $color-black-88;
  padding: $gap-small 0;
  text-align: center;
}


.component-contact-form{
  @extend .layout-flex-col, .layout-margin-x-auto, .style-paragraph;
  gap: $gap-small;

}


.component-contact-input{
  @extend .transition-border;
  border-radius: 8px;
  border: 1px solid $color-gray;
  padding: $padding-small;
}

.component-contact-input:hover, .component-contact-input:focus{
  border-color: $color-black-88;
  outline: none;
}

/** Home Styling **/
.component-home{
  background-color: $color-black-88;
  width: 100%;
  height: 100%;
}


/** Services Styling **/
.component-services{
  @extend .layout-flex-col;
  gap: $padding-large;
  width: 100%;
  background-color: $color-white-broken;
  padding: $padding-large 0;
}

.component-services-item{
  @extend .layout-flex-col, .layout-margin-x-auto;
  width: 100%;
  max-width: $size-max-width;
}

.component-services-item-inner{
  @extend .layout-flex-row;
  width: 100%;
  max-width: $size-max-width;
  gap: $gap-full-column;
}

.component-services-item-inner-text{
  @extend .layout-flex-col, .layout-margin-y-auto;
  gap: $padding-medium;
}

.component-services-item-image{
  height: 500px;
  width: 455px;
  object-fit: cover;
  max-height: 500px;
  max-width: 455px;
  box-shadow: 43px 47px 62.2px -12px rgba(0, 0, 0, 0.2);
}



/** About Styling **/
.component-about{
  @extend .layout-flex-col, .layout-margin-x-auto;
  padding: $padding-large 0;
  text-align: center;
  color: $color-white;
  gap: $gap-small;
}

.component-about-columns{
  @extend .layout-flex-row, .layout-margin-x-auto;
  gap: $gap-medium;
}

.component-about-header{
  @extend .style-h2-italic, .layout-flex-row, .layout-margin-x-auto;
  font-size: 20px;
  gap: $gap-small;
}

.component-about-content{
  @extend .style-h3;
  line-height: 49px;

}


/** Projects Styling **/
.component-projects{
  @extend .layout-flex-col;
  gap: $padding-large;
  width: 100%;
  background-color: $color-white-broken;
  padding: $padding-large 0;
}

.component-projects-list{
  @extend .layout-flex-col, .layout-margin-x-auto;
  gap: $padding-medium;
}


.component-projects-filter {
  @extend .layout-flex-row;
  gap: $gap-small;
  flex-wrap: wrap;
  justify-content: left;
  max-width: $size-max-width;
}
.component-projects-grid {
  @extend .layout-grid;
  gap: $gap-small;
}

.component-projects-not-found{
  @extend .layout-flex-col, .layout-margin-x-auto, .style-h4;
  padding: $padding-large;
}

.component-project-item{
  @extend .layout-flex-col, .layout-margin-x-auto;
  gap: $padding-small;
  max-width: 455px;
}

.component-project-tags{
  @extend .layout-flex-row;
  gap: 20px;
}


/** Projects View Styling **/
.component-project-view{
  background-color: $color-white-broken;
  width: 100%;
  height: 100%;
}

.component-project-view-content{
  @extend .layout-flex-col, .layout-margin-x-auto;
  background-color: $color-white-broken;
  padding: $padding-large 0;
  gap: $padding-large;
}

.component-project-view-children{
  @extend .layout-flex-col, .layout-margin-x-auto;
  background-color: $color-white-broken;
  gap: $padding-large;
  max-width: $size-max-width;
}

.component-project-view-content-header{
  @extend .layout-flex-row, .layout-margin-x-auto;
  gap: $padding-medium;
  max-width: $size-max-width;
  width: 100%;
}

/** Error pages Styling **/
.component-404{
  background-color: $color-gray-light;
  width: 100%;
  height: 100%;
}

.component-404-content{
  @extend .style-h1, .style-align-center, .layout-flex-col;
  padding: $padding-large*4 0;
  gap: $padding-small;
  height: 80%;
}


/** Animated intro **/
.component-animated-intro{
  font-family: $font-inter;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: $color-white-broken;
  font-size: 100px;
}