@import 'base.scss';
@import 'layout.scss';


/** Navbar Styling **/
.component-navbar-item{
  padding: $padding-small;
  font-family: $font-inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: $color-white;
  opacity: 1;
}

.component-navbar-item:hover{
  text-decoration-line: underline;
}

.component-navbar-item-strong{
  font-weight: 600;
  font-size: 16px;
}

.component-navbar-header{
  width: 100%;
  position: fixed;
  z-index: 10;
}

.component-navbar{
  @extend .layout-flex-row;
  width: 467px;
  height: 50px;
  backdrop-filter: blur(var(--blur-xs));
  background-color: rgba(255, 255, 255, 0.42);
  border-radius: 99999px;
  gap: $gap-medium;
  margin: 15px auto 0 auto;
  padding: 0 20px;
}

.component-navbar-item-list{
  @extend .layout-flex-row, .layout-margin-y-auto;
  gap: $gap-small;
}

.component-navbar-logo{
  @extend .layout-margin-y-auto;
  padding: 6px 8px;
  font-family: $font-inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

/** Contact Styling **/
.component-contact{
  @extend .layout-flex-col;
  width: 100%;
  padding: $padding-large $padding-sides;
  background-color: $color-white;
}

.component-contact-inner{
  @extend .layout-flex-col;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: $gap-large;
}

.component-contact-info{
  @extend .layout-flex-col;
  color: $color-black-88;
  gap: $gap-medium;
}

.component-contact-copyright{
  left: 0;
  bottom: 0;
  width: 100%;
}

.component-contact-copyright-inner{
  @extend .style-caption,  .layout-margin-x-auto;
  gap: $padding-small;
  background-color: $color-white-broken;
  color: $color-black-88;
  padding: $gap-small $padding-sides;
  text-align: center;
}
