@import "base.scss";
@import "layout.scss";

.element-button{
  border-radius: calc(infinity * 1px);
  background-color: $color-gray-dark;
  color: $color-white;
  font-weight: 300;
  font-size: 14px;
  padding: $padding-small $gap-small;
  cursor: pointer;
}

.element-line-small{
  width: 20px;
  height: 2px;
  background-color: $color-black-88;
  margin: auto 6px;
}

.element-line-medium{
  width: 100px;
  height: 2px;
  background-color: $color-white;
  margin: auto 6px;
}

.element-line-full{
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #7C7C7C, black 70%);
  margin: auto 6px;
}


.element-section-header{
  @extend .style-h2, .layout-flex-row, .layout-margin-x-auto;
  width: $size-max-width;
  max-width: $size-max-width;
  gap: 22px;
  white-space: nowrap;
}

.element-section-title{
  @extend .style-gradient-text;
}

.element-tag{
  @extend .style-caption;
  padding: 2px 8px;
  border-radius: 19px;
  border: 1.06px solid $color-gray-dark;
}

.element-tag-active{
  color: $color-white-broken;
  background-color: $color-gray-dark;
}

.element-tag-interactive{
  cursor: pointer;
}

.element-card-image{
  max-width: 100%;
  height: auto;
  width: auto;

}

.element-card{
  @extend .layout-flex-row, .layout-margin-x-auto;
  max-width: $size-max-width;
  max-height: 400px;
  gap: $padding-medium;
}
.element-card-large{
  @extend .layout-flex-col, .layout-margin-x-auto;
  max-width: $size-max-width;
  gap: $padding-medium;
}

.element-card-image-large{
  max-width: 100%;
  height: auto;
  width: auto;
}

.element-card-text{
  @extend .layout-flex-col, .layout-margin-y-auto;
  gap: $padding-small;
}