@import "base.scss";
@import "layout.scss";

.element-button{
  border-radius: calc(infinity * 1px);
  background-color: $color-gray-dark;
  color: $color-gray-lighter;
  font-weight: 300;
  font-size: 14px;
  padding: $padding-small $gap-small;
  cursor: pointer;
}

.element-line-small{
  width: 20px;
  height: 1px;
  background-color: $color-black-88;
  margin: auto 6px;
}

.element-line-large{
  width: 100px;
  height: 1px;
  background-color: $color-white;
  margin: auto 6px;
}

.element-line-full{
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(124, 124, 124, 0.7), rgba(0, 0, 0, 0.11));
  margin: auto 6px;
}


.element-section-header{
  @extend .style-h2, .layout-flex-row, .layout-margin-x-auto;
  width: $size-max-width;
  max-width: $size-max-width;
  gap: 22px;
  white-space: nowrap;
}

.element-section-title{
  @extend .style-gradient-text;
}

.element-tag{
  @extend .style-caption;
  padding: 1px 10px;
  border-radius: 19px;
  color: $color-gray-dark;
  border: 1.06px solid $color-gray-dark;
  user-select: none;
}

.element-tag-active{
  color: $color-gray-lighter;
  background-color: $color-gray-dark;
}

.element-tag-active:after{
  display: inline-block;
  margin-left: 5.28px;
  font-size: 16.89px;
  content: "\00d7"; /* This will render the 'X' */
}

.element-tag-interactive{
  cursor: pointer;
}

.element-card-image{
  max-width: 100%;
  height: auto;
  width: auto;

}

.element-card{
  @extend .layout-flex-row, .layout-margin-x-auto;
  max-width: $size-max-width;
  max-height: 400px;
  gap: $padding-medium;
}
.element-card-large{
  @extend .layout-flex-col, .layout-margin-x-auto;
  max-width: $size-max-width;
  gap: $padding-medium;
}

.element-card-image-large{
  max-width: 100%;
  height: auto;
  width: auto;
}

.element-card-text{
  @extend .layout-flex-col, .layout-margin-y-auto;
  gap: $padding-small;
}

.element-cover{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.element-cover-background{
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.element-cover-content{
  @extend .layout-flex-col;
  position: relative;
  z-index: 1;
  max-width: $size-max-width;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  gap: 20px;
}

.element-cover-scroll-banner {
  @extend .layout-flex-row;
  color: $color-white;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0px;
  transform: rotate(270deg);
  transform-origin: left;
}


.element-line-scroll-banner {
  width: 70px;
  height: 1px;
  background-color: $color-white;
  margin: auto 6px auto 0;
}
