@import "base.scss";
@import "layout.scss";

.element-button{
  border-radius: calc(infinity * 1px);
  background-color: $color-gray-dark;
  color: $color-white;
  font-weight: 300;
  font-size: 14px;
  padding: $padding-small $gap-small;
}

.element-line-small{
  width: 20px;
  height: 2px;
  background-color: $color-black-88;
  margin: auto 6px;
}

.element-line-medium{
  width: 100px;
  height: 2px;
  background-color: $color-white;
  margin: auto 6px;
}

.element-line-full{
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #7C7C7C, black 70%);
  margin: auto 6px;
}


.element-section-header{
  @extend .style-h2, .layout-flex-row, .layout-margin-x-auto;
  width: 930px;
  max-width: 930px;
  gap: 22px;
  white-space: nowrap;
}