

/** Padding and margins **/
$padding-small: 10px;
$padding-medium: 30px;
$padding-large: 100px;
$padding-sides: 255px;

.layout-margin-x-auto{
  margin: 0 auto;
}

.layout-margin-y-auto{
  margin: auto 0;
}

/** Flex and grid gaps **/
$gap-small: 20px;
$gap-medium: 50px;
$gap-large: 73px;
$gap-full-column: 115px;

.layout-flex-row{
  display: flex;
  flex-direction: row;
}

.layout-flex-col{
  display: flex;
  flex-direction: column;
}

.layout-flex-col-small{
  @extend .layout-flex-col;
  gap: $gap-small;
}



.layout-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $padding-medium;
}