
/** Media breakpoints **/
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;


/* Desktop Small screens */
@media (max-width: $breakpoint-desktop) {
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
  .element-line-full{
    display: none;
  }
  .element-section-title{
    margin-left: auto;
    margin-right: auto;
  }
  .element-section-header{
    width: auto;
  }
}


/* Mobile first: 1 column on tablet and below */
@media (max-width: $breakpoint-tablet) {
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Extra: keep 1 column on smaller mobile widths as well */
@media (max-width: $breakpoint-mobile) {
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}
