@use "../abstracts/variables";


/* Desktop Small screens */
@media (max-width: variables.$breakpoint-desktop) {
  /** Generic components **/
  .responsive-hide-desktop{
    display: none;
  }

  /** Specific Elements **/
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
  .element-section-title{
    margin-left: auto;
    margin-right: auto;
  }
  .element-section-header{
    width: auto;
  }

  .component-projects-filter{
    justify-content: center;
  }

  .component-services-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


/* Mobile first: 1 column on tablet and below */
@media (max-width: variables.$breakpoint-tablet) {
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Extra: keep 1 column on smaller mobile widths as well */
@media (max-width: variables.$breakpoint-mobile) {
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}
