@use "../abstracts/variables";
@use "../layout/layout";

/* Desktop Large screens */
@media (max-width: variables.$breakpoint-desktop-large) {
  .layout-content-width {
    max-width: variables.$size-max-width-large;
  }
}

/* Desktop Small screens */
@media (max-width: variables.$breakpoint-desktop) {

  .layout-content-width {
    max-width: variables.$size-max-width;
  }

  /** Generic components **/
  .responsive-hide-desktop{
    display: none;
  }

  /** Specific Elements **/
  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
  .element-section-title{
    margin-left: auto;
    margin-right: auto;
  }
  .element-section-header{
    width: auto;
  }

  .component-projects-filter{
    justify-content: center;
  }

  .component-navbar{
    gap: 0;
  }


  .element-cover-content-left, .element-cover-content-right{
    justify-content: center;
    text-align: center;
  }

  .element-cover-content-title, .element-cover-content-subtitle{
    margin: 0 auto;
  }


  .component-project-description, .component-project-tags{
    margin: 0 variables.$padding-small;
  }

  .component-services-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


/* Mobile first: 1 column on tablet and below */
@media (max-width: variables.$breakpoint-tablet) {

  .layout-content-width {
    max-width: 100%;
  }

  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Extra: keep 1 column on smaller mobile widths as well */
@media (max-width: variables.$breakpoint-mobile) {

  .layout-content-width {
    max-width: 100%;
  }

  .layout-grid,
  .component-projects-grid {
    grid-template-columns: 1fr;
  }
}
