#post, #post_meta{
    width: 30%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 20px;
}

iframe{
    max-width: 100%;
}

#post_title{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.meta_button{
    margin-left: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:1800px){
    #post,#post_meta {
        width: 50%;
    }
}

@media (max-width:1000px){
    #post,#post_meta  {
        width: 90%;
    }

}



img{
    max-width: 100%;
}

/*CODE HIGHLIGHTS*/

.highlight{
    padding: 16px;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
    overflow-x: auto;

}

code{
    padding: .2em .4em;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
}

.n{
    color: #e36209;
}

.k{
    color: #6f42c1;
}

.nl, .kt{
    color: #d73a49;
}

.c1{
    color: #6a737d;
}

/*TABLE STYLE*/
table {
  border-collapse: collapse;
  margin: 0 auto;

}

table, th, td {
  border: 1px solid black;
}

.tag{
    margin-left: 5px;
    background-color: green;
    padding: 5px;

    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.tag:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.post_header{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: white;
    transition: 0.5s;
}


.post_header:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}


