@use '../abstracts/variables';
@use '../base/typography';
@use '../layout/layout';
@use '../base/animations';


/** Navbar Styling **/
.component-navbar-item{
  @extend .transition-color;
  padding: variables.$padding-small;
  font-family: variables.$font-inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: variables.$color-black-88;
  opacity: 1;
}

.component-navbar-item:hover{
  text-decoration-line: underline;
  text-underline-offset: 2.7px;
}

.component-navbar-item-strong{
  font-weight: 600;
  font-size: 16px;
}

.component-navbar-item-dark{
  color: variables.$color-white !important;
}

.component-navbar-dark{
  background: rgba(31, 31, 31, 0.55) !important;
  box-shadow: inset 1px 1px 0.12px rgba(31, 31, 31, 0.4), 0 0 1px 1px rgb(255 255 255 / 0.05) !important;
}


.component-navbar-header{
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;
}

.component-navbar{
  @extend .layout-flex-row, .transition-shadow, .transition-background;
  height: 50px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.55);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgb(0 0 0 / 0.05);
  border-radius: 99999px;
  margin: 15px auto 0 auto;
  padding: 0 20px;
}

.component-navbar-item-list{
  @extend .layout-flex-row, .layout-margin-y-auto;
  gap: variables.$gap-small;
  /* Enable smooth open/close animation */
  overflow: hidden;
  white-space: nowrap;
  max-width: 420px; /* expanded state */
  opacity: 1;
  margin-left: variables.$gap-medium;
  transition-property: max-width, opacity, margin-left;
  transition-duration: 0.5s, 0.5s, 0.25s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0ms, 0ms, 0ms;
}


.component-navbar-item-list-hidden{
  /* Use animatable properties instead of display:none so we can animate */
  max-width: 0;
  opacity: 0;
  margin-left: 0 !important;
  pointer-events: none; /* avoid interacting while hidden */
}

.component-navbar-logo{
  @extend .layout-margin-y-auto, .transition-color;
  padding: 6px 8px;
  font-family: variables.$font-inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  color: variables.$color-black-88;
  user-select: none;
}

/** Contact Styling **/
.component-contact{
  @extend .layout-flex-col;
  width: 100%;
  padding: variables.$padding-large 0;
  background-color: variables.$color-white;
}

.component-contact-inner{
  @extend .layout-flex-col, .text-h3;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: variables.$gap-large;
}

.component-contact-info{
  @extend .layout-flex-col, .text-paragraph;
  color: variables.$color-black-88;
  gap: variables.$gap-medium;
  padding: 0 5px;
}

.component-contact-circle{
  position: absolute;
  top: -30px;
  left: 0;
}

.component-contact-links{
  position: relative;
}

.component-contact-links:hover{
  text-decoration-line: underline;
  text-underline-offset: 2.7px;
}

.component-contact-icons{
  @extend .layout-flex-row, .layout-margin-x-auto;
  text-align: center;
  gap: variables.$gap-small;
}

.component-contact-copyright{
  left: 0;
  bottom: 0;
  width: 100%;
}

.component-contact-copyright-inner{
  @extend .text-caption,  .layout-margin-x-auto;
  gap: variables.$padding-small;
  background-color: variables.$color-white-broken;
  color: variables.$color-black-88;
  padding: variables.$gap-small 0;
  text-align: center;
}


.component-contact-form{
  @extend .layout-flex-col, .layout-margin-x-auto, .text-paragraph;
  gap: variables.$gap-small;

}


.component-contact-input{
  @extend .transition-border;
  border-radius: 8px;
  border: 1px solid variables.$color-gray;
  padding: variables.$padding-small;
}

.component-contact-input:hover, .component-contact-input:focus{
  border-color: variables.$color-black-88;
  outline: none;
}

/** Home Styling **/
.component-home{
  background-color: variables.$color-black-88;
  width: 100%;
  height: 100%;
}


/** Services Styling **/
.component-services{
  @extend .layout-flex-col;
  gap: variables.$padding-large;
  width: 100%;
  background-color: variables.$color-white-broken;
  padding: variables.$padding-large 0;
}

.component-services-item{
  @extend .layout-flex-col, .layout-margin-x-auto, .layout-content-width;
  width: 100%;
}

.component-services-item-inner{
  @extend .layout-flex-row, .layout-content-width;
  width: 100%;
  gap: variables.$gap-full-column;
}

.component-services-item-list{
  @extend .text-h2;
}

.component-services-item-inner-text{
  @extend .layout-flex-col, .layout-margin-y-auto;
  gap: variables.$padding-medium;
}

.component-services-item-image{
  height: 500px;
  width: 455px;
  object-fit: cover;
  max-height: 500px;
  max-width: 455px;
  box-shadow: 43px 47px 62.2px -12px rgba(0, 0, 0, 0.2);
}



/** About Styling **/
.component-about{
  @extend .layout-flex-col, .layout-margin-x-auto;
  text-align: center;
  color: variables.$color-white;
  gap: variables.$gap-small;
  margin: auto;
}

.component-about-columns{
  @extend .layout-flex-row, .layout-margin-x-auto;
  gap: variables.$gap-medium;
}

.component-about-header{
  @extend .text-h2-italic, .layout-flex-row, .layout-margin-x-auto;
  font-size: 20px;
  gap: variables.$gap-small;
}

.component-about-content{
  @extend .text-h3;
  line-height: 49px;

}


/** Projects Styling **/
.component-projects{
  @extend .layout-flex-col;
  gap: variables.$padding-large;
  width: 100%;
  background-color: variables.$color-white-broken;
  padding: variables.$padding-large 0;
}

.component-projects-list{
  @extend .layout-flex-col, .layout-margin-x-auto;
  gap: variables.$padding-medium;
}


.component-projects-filter {
  @extend .layout-flex-row, .layout-content-width;
  gap: variables.$gap-small;
  flex-wrap: wrap;
  justify-content: left;
}
.component-projects-grid {
  @extend .layout-grid;
  gap: variables.$gap-small;
}

.component-projects-not-found{
  @extend .layout-flex-col, .layout-margin-x-auto, .text-h4;
  padding: variables.$padding-large;
}

.component-project-item{
  @extend .layout-flex-col, .layout-margin-x-auto;
  gap: variables.$padding-small;
  max-width: 455px;
}

.component-project-tags{
  @extend .layout-flex-row;
  gap: 20px;
}

.component-project-description{
  @extend .text-paragraph;
}


/** Projects View Styling **/
.component-project-view{
  background-color: variables.$color-white-broken;
  width: 100%;
  height: 100%;
}

.component-project-view-content{
  @extend .layout-flex-col, .layout-margin-x-auto;
  background-color: variables.$color-white-broken;
  padding: variables.$padding-large 0;
  overflow: hidden;
  gap: variables.$padding-large;
}

.component-project-view-children{
  @extend .layout-flex-col, .layout-margin-x-auto, .layout-content-width;
  background-color: variables.$color-white-broken;
  gap: variables.$padding-large;
}

.component-project-view-content-header{
  @extend .layout-flex-row, .layout-margin-x-auto, .layout-content-width;
  gap: variables.$padding-medium;
  width: 100%;
}

.component-project-view-description{
  @extend .text-paragraph;
  max-width: 516px;
  margin-left: auto;
}

.component-project-view-metadata{
  @extend .layout-grid, .text-transform-uppercase, .text-wrap-nowrap;
  gap: 8px;
}

/** Error pages Styling **/
.component-404{
  background-color: variables.$color-gray-light;
  width: 100%;
  height: 100%;
}

.component-404-content{
  @extend .text-h1, .text-align-center, .layout-flex-col;
  padding: variables.$padding-large*4 0;
  gap: variables.$padding-small;
  height: 80%;
}


/** Animated intro **/
.component-animated-intro{
  font-family: variables.$font-inter;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: variables.$color-white-broken;
  font-size: 100px;
}