@use "../abstracts/variables";
@use "../base/typography";
@use "../layout/layout";

.element-button{
  border-radius: calc(infinity * 1px);
  background-color: variables.$color-gray-dark;
  border: 1px solid variables.$color-gray-dark;
  color: variables.$color-gray-lighter;
  font-weight: 300;
  font-size: 14px;
  padding: variables.$padding-small variables.$gap-small;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.element-button-fill{
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  width: 400px;
  height: 400px;
  background: #F6F6F6;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3;
}

.element-button-text{
  z-index: 5;
  position: relative;
}

.element-line-small{
  width: 20px;
  height: 1px;
  background-color: variables.$color-black-88;
  margin: auto 6px;
}

.element-line-large{
  width: 100px;
  height: 1px;
  background-color: variables.$color-white;
  margin: auto 6px;
}

.element-line-full{
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(124, 124, 124, 0.7), rgba(0, 0, 0, 0.11));
  margin: auto 6px;
}


.element-section-header{
  @extend .text-h2-italic, .layout-flex-row, .layout-margin-x-auto, .layout-content-width;
  width: 100%;
  height: 48px;
  gap: 22px;
  white-space: nowrap;
}

.element-section-title{
  @extend .text-style-gradient;
  padding-right: 4px;
}

.element-tag{
  @extend .text-caption;
  padding: 1px 10px;
  border-radius: 19px;
  color: variables.$color-gray-dark;
  border: 1.06px solid variables.$color-gray-dark;
  user-select: none;
}

.element-tag-white{
  color: variables.$color-white;
  border-color: variables.$color-white;
}

.element-tag-active{
  color: variables.$color-gray-lighter;
  background-color: variables.$color-gray-dark;
}


.element-tag-inactive:after{
  display: inline-block;
  margin-left: 5.28px;
  font-size: 16.89px;
  content: "\00d7"; /* This will render the 'X' */
  color: variables.$color-white-broken;
}

.element-tag-active:after{
  display: inline-block;
  margin-left: 5.28px;
  font-size: 16.89px;
  content: "\00d7"; /* This will render the 'X' */
}

.element-tag-interactive{
  cursor: pointer;
}

.element-card-image{
  max-width: 550px;
  max-height: 400px;
  width: 550px;
  height: 400px;
  object-fit: cover;
}

.element-card{
  @extend .layout-flex-row, .layout-margin-x-auto, .layout-content-width;
  max-height: 400px;
  gap: variables.$padding-medium;
}
.element-card-large{
  @extend .layout-flex-col, .layout-margin-x-auto, .layout-content-width;
  gap: variables.$padding-medium;
}

.element-card-image-large{
  max-width: 100%;
  height: auto;
  width: auto;
}

.element-card-text{
  @extend .layout-flex-col, .layout-margin-y-auto;
  gap: variables.$padding-small;
}

.element-cover{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.element-cover-background{
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.element-cover-content{
  @extend .layout-flex-col, .layout-content-width;
  position: relative;
  z-index: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  gap: 20px;
}

.element-cover-scroll-banner {
  @extend .layout-flex-row;
  color: variables.$color-white;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  transform: rotate(270deg);
  transform-origin: left;
}

.element-arrow-down {
  width: 70px;
  height: 2px;
  background-color: variables.$color-white;
  margin: auto 12px auto 0;
  position: relative;
}

.element-arrow-down:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid variables.$color-white;
  border-right: 2px solid variables.$color-white;
  transform: rotate(225deg);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.element-hover-popup{
  position: relative;
}

.element-hover-popup-text{
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: calc(infinity * 1px);
  background-color: variables.$color-gray-dark;
  color: variables.$color-gray-lighter;
  font-weight: 300;
  font-size: 14px;
  padding: variables.$padding-small variables.$gap-small;
  cursor: pointer;
}