@import "tailwindcss";


@theme inline {
    --font-average: var(--font-average);
}

html {
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Helvetica, sans-serif;
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-animation {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.slide-animation-delay{
    animation: 1s ease-out 0s 1 slideInFromBottom;
    animation-delay: 0.7s;
    animation-fill-mode: backwards; /* Keep element at 0% keyframe during the delay */
}

.bg-colors {
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' preserveAspectRatio='xMidYMid slice' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CradialGradient id='Gradient1' cx='50%' cy='50%' fx='0.441602%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='34s' values='0%;3%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(255, 0, 255, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(255, 0, 255, 0)'/%3E%3C/radialGradient%3E%3CradialGradient id='Gradient2' cx='50%' cy='50%' fx='2.68147%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='23.5s' values='0%;3%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(255, 255, 0, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(255, 255, 0, 0)'/%3E%3C/radialGradient%3E%3CradialGradient id='Gradient3' cx='50%' cy='50%' fx='0.836536%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='21.5s' values='0%;3%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(0, 255, 255, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(0, 255, 255, 0)'/%3E%3C/radialGradient%3E%3CradialGradient id='Gradient4' cx='50%' cy='50%' fx='4.56417%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='23s' values='0%;5%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(0, 255, 0, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(0, 255, 0, 0)'/%3E%3C/radialGradient%3E%3CradialGradient id='Gradient5' cx='50%' cy='50%' fx='2.65405%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='24.5s' values='0%;5%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(0,0,255, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(0,0,255, 0)'/%3E%3C/radialGradient%3E%3CradialGradient id='Gradient6' cx='50%' cy='50%' fx='0.981338%' fy='50%' r='.5'%3E%3Canimate attributeName='fx' dur='25.5s' values='0%;5%;0%' repeatCount='indefinite'/%3E%3Cstop offset='0%' stop-color='rgba(255,0,0, 1)'/%3E%3Cstop offset='100%' stop-color='rgba(255,0,0, 0)'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect x='13.744%' y='1.18473%' width='100%' height='100%' fill='url(%23Gradient1)' transform='rotate(334.41 50 50)'%3E%3Canimate attributeName='x' dur='20s' values='25%;0%;25%' repeatCount='indefinite'/%3E%3Canimate attributeName='y' dur='21s' values='0%;25%;0%' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='7s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='-2.17916%' y='35.4267%' width='100%' height='100%' fill='url(%23Gradient2)' transform='rotate(255.072 50 50)'%3E%3Canimate attributeName='x' dur='23s' values='-25%;0%;-25%' repeatCount='indefinite'/%3E%3Canimate attributeName='y' dur='24s' values='0%;50%;0%' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='12s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='9.00483%' y='14.5733%' width='100%' height='100%' fill='url(%23Gradient3)' transform='rotate(139.903 50 50)'%3E%3Canimate attributeName='x' dur='25s' values='0%;25%;0%' repeatCount='indefinite'/%3E%3Canimate attributeName='y' dur='12s' values='0%;25%;0%' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='360 50 50' to='0 50 50' dur='9s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
}


.bg-texture {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.bg-plus {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23909090' fill-opacity='0.94'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-lines-in-motion {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-diagonal-lines {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9f9' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}